Q1. How do you comment code in Python? What are the different types of comments?

Answer:

we can comment code in python by using # in the begining of the statement.\
there are two types of comments:\
single-line comment\
multi-line comment

example:
1.single line comment=

In [ ]:
#example of single line comment

example: 2. multi line comment=

In [12]:
#example of
#multi line comment
#example of multi line comment

Q2. What are variables in Python? How do you declare and assign values to variables?

Answer

variables are words that are used to store values of any data type.\
we can use '=' operator to assign values to the variable.

In [13]:
var= 4
var

4

Q3. How do you convert one data type to another in Python?

we can change the data type of a variable in Python through datatype conversion.\
for example, an integer can be converted into a string, allowing it to be appended to another string.
There are two different methods used to convert data types in python:\
Implicit type conversion   
Explicit type conversion

Q4. How do you write and execute a Python script from the command line?

Answer

write command 'python' and execute, this will transform the command window into python shell. and to execute we can press enter.

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

Answer:

In [3]:
my_list=[1,2,3,4,5]

In [4]:
my_list

[1, 2, 3, 4, 5]

In [8]:
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

Answer:

Complex numbers are basically the combination of real and imaginary numbers.In mathematics,the imaginary number is denoted by i.
The complex data type in python consists of two values, the first one is the real part of the complex number, and the second one is the imaginary part of the complex number.In python we always denote the imaginary part with j.

In [11]:
#example
c= 4+5j
type(c)

complex

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

Answer:

The correct way to declare a variable and assign the value is:\
Name the variable and then assign an integer value to it

In [16]:
#example
age=int(25)
age

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

Answer:

In [17]:
price=9.99
type(price)

float

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [20]:
name='Aastha Gupta'
name

'Aastha Gupta'

Q10. Given the string "Hello, World!", extract the substring "World".

Answer:

In [25]:
string='Hello,World!'

In [27]:
string[6:11]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

Answer:

In [36]:
is_student == True
print('currently a student')

currently a student