Q1.Create one variable containing following type of data:
(i) string 
(ii) list
(iii) float
(iv) tuple

Answer:

In [1]:
a='data'
b=[20,56,'data','science','true',34.9,3.6]
c=2.5
d=('data',56)
type(a),type(b),type(c),type(d)

(str, list, float, tuple)

2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.
What will be the data type of the above given variable.

Answer:

In [2]:
var1=''
var2='[DS,ML,PYTHON]'
var3=['DS','ML','PYTHON']
var4=1.
type(var1),type(var2),type(var3),type(var4)

(str, str, list, float)

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **


Answer:

(i) "/" is a operator which is used to divide left hand operand from right hand operand.
(ii)"%" is a operator which is used to divide left hand operand from light hand operand and gives the remainder.
(iii)"//" is a operator which is used to perform division and gives only integer quotient. It is also called floor division.
(iv)" ** " is a operator which is used to perform exponential (power) calculation on operators. It is also called exponent operator.

Examples:

In [13]:
a=8
b=2
p=a/b
print(p)
q=a%b
print(q)
r=a//b
print(r)
s=a**b
print(s)

4.0
0
4
64

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

Answer:

In [18]:
l=[6,9,'data',"true",6.9,'damn',3,4567,45.222,False]
for i in l:
    print(i,type(i))

6 <class 'int'>
9 <class 'int'>
data <class 'str'>
true <class 'str'>
6.9 <class 'float'>
damn <class 'str'>
3 <class 'int'>
4567 <class 'int'>
45.222 <class 'float'>
False <class 'bool'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

Answer:

In [20]:
a=int(input('Enter 1st number='))
b=int(input('Enter 2nd number='))
c=0
while a%b==0:
    c=c+1
    a=a/b
if c>0:
    print(c)
else:
    print('not purely divisible')

Enter 1st number= 56
Enter 2nd number= 6

not purely divisible

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

Answer:

In [34]:
l=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,15,16,17,18,19,20,21,22,23,24,25]
for i in range(25):
    a=l[i]
    if a%3==0:
        print(a)
    else:
        continue

3
6
9
12
15
15
18
21
24

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Answer:

A mutable object can be changed after it is created.
an immutable object cannot be changed after it is created.

Example of mutable data type: lists dictionaries & sets

Example of immutable data type: strings & tuples